[user]
	useConfigOnly = true

[core]
	editor = nano
	excludesfile = ~/.gitignore_global

[alias]
	st = status
	co = checkout
	br = branch
	up = rebase
	ci = commit
  showtool = "!f() { git difftool $1^ $1; }; f"
  added = difftool --cached

[diff]
  tool = icdiff

[difftool]
  prompt = false

[difftool "icdiff"]
  cmd = ~/.local/bin/icdiff --line-numbers $LOCAL $REMOTE

[pager]
  difftool = true
[rerere]
	enabled = true
[log]
	decorate = full
[init]
	templatedir = ~/.git-templates
