## Use this tab size instead of the default; it must be greater than 0
set tabsize 2

## Show line number
set const

## syntax highlightning
include /usr/share/nano/html.nanorc
include /usr/share/nano/php.nanorc
